.module.games {
    max-height: 100%; overflow: hidden;
    ul {
        list-style: none; padding: 0; height: 100%; overflow: hidden; overflow-y: auto;
        li {
            @include clearfix;
            height: 160px; clear: both;
            margin-bottom: $grid-gutter-width / 2;
            background: #fff; border: 1px solid $gray-200;
            figure {
                float: right; width: 160px; margin-bottom: 0; // transition: $transition-default;
                img { display: block; width: 100%; height: auto; }
            }
            .desc {
                margin-right: 160px; padding: $grid-gutter-width / 2; // transition: $transition-default;
                h3 { font-size: 1.25rem; margin-top: 8px; }
                p { font-size: 0.85rem; }
            }
            &.active { background: #e1debb; }
        }
    }
    #game-wrapper {
        width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #fff;
        &:empty { display: none; }
    }
}

.scores-container {
    //float: right;
    text-align: right;
    display: flex; width: 500px;
    > * { flex: 1 1 auto !important }
}

.score-container, .best-container {
    position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 15px 25px;
    font-size: 25px;
    height: 60px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin: 8px;
    text-align: center; }
.score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
.score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
    content: "امتیاز"; }

.best-container:after {
    content: "رکورد"; }

strong.important {
    text-transform: uppercase; }

hr {
    border: none;
    border-bottom: 1px solid #d8d4d0;
    margin-top: 20px;
    margin-bottom: 30px; }

.container {
    width: 500px;
    margin: 0 auto; }

@-webkit-keyframes fade-in {
    0% {
        opacity: 0; }

    100% {
        opacity: 1; } }
@-moz-keyframes fade-in {
    0% {
        opacity: 0; }

    100% {
        opacity: 1; } }
@keyframes fade-in {
    0% {
        opacity: 0; }

    100% {
        opacity: 1; } }
.game-container {
    direction: ltr;
    margin-top: 40px;
    position: relative;
    padding: 15px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #bbada0;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
.game-container .game-message p {
    font-size: 60px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin-top: 222px; }
.game-container .game-message .lower {
    display: block;
    margin-top: 59px; }
.game-container .game-message a {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    margin-left: 9px; }
.game-container .game-message a.keep-playing-button {
    display: none; }
.game-container .game-message.game-won {
    background: rgba(237, 194, 46, 0.5);
    color: #f9f6f2; }
.game-container .game-message.game-won a.keep-playing-button {
    display: inline-block; }
.game-container .game-message.game-won, .game-container .game-message.game-over {
    display: block; }

.grid-container {
    position: absolute;
    z-index: 1; }

.grid-row {
    margin-bottom: 15px; }
.grid-row:last-child {
    margin-bottom: 0; }
.grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
    width: 106.25px;
    height: 106.25px;
    margin-right: 15px;
    float: left;
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35); }
.grid-cell:last-child {
    margin-right: 0; }

.tile-container {
    position: absolute;
    z-index: 2; }

.tile, .tile .tile-inner {
    width: 107px;
    height: 107px;
    line-height: 107px; }
.tile.tile-position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
.tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 121px);
    -moz-transform: translate(0px, 121px);
    -ms-transform: translate(0px, 121px);
    transform: translate(0px, 121px); }
.tile.tile-position-1-3 {
    -webkit-transform: translate(0px, 242px);
    -moz-transform: translate(0px, 242px);
    -ms-transform: translate(0px, 242px);
    transform: translate(0px, 242px); }
.tile.tile-position-1-4 {
    -webkit-transform: translate(0px, 363px);
    -moz-transform: translate(0px, 363px);
    -ms-transform: translate(0px, 363px);
    transform: translate(0px, 363px); }
.tile.tile-position-2-1 {
    -webkit-transform: translate(121px, 0px);
    -moz-transform: translate(121px, 0px);
    -ms-transform: translate(121px, 0px);
    transform: translate(121px, 0px); }
.tile.tile-position-2-2 {
    -webkit-transform: translate(121px, 121px);
    -moz-transform: translate(121px, 121px);
    -ms-transform: translate(121px, 121px);
    transform: translate(121px, 121px); }
.tile.tile-position-2-3 {
    -webkit-transform: translate(121px, 242px);
    -moz-transform: translate(121px, 242px);
    -ms-transform: translate(121px, 242px);
    transform: translate(121px, 242px); }
.tile.tile-position-2-4 {
    -webkit-transform: translate(121px, 363px);
    -moz-transform: translate(121px, 363px);
    -ms-transform: translate(121px, 363px);
    transform: translate(121px, 363px); }
.tile.tile-position-3-1 {
    -webkit-transform: translate(242px, 0px);
    -moz-transform: translate(242px, 0px);
    -ms-transform: translate(242px, 0px);
    transform: translate(242px, 0px); }
.tile.tile-position-3-2 {
    -webkit-transform: translate(242px, 121px);
    -moz-transform: translate(242px, 121px);
    -ms-transform: translate(242px, 121px);
    transform: translate(242px, 121px); }
.tile.tile-position-3-3 {
    -webkit-transform: translate(242px, 242px);
    -moz-transform: translate(242px, 242px);
    -ms-transform: translate(242px, 242px);
    transform: translate(242px, 242px); }
.tile.tile-position-3-4 {
    -webkit-transform: translate(242px, 363px);
    -moz-transform: translate(242px, 363px);
    -ms-transform: translate(242px, 363px);
    transform: translate(242px, 363px); }
.tile.tile-position-4-1 {
    -webkit-transform: translate(363px, 0px);
    -moz-transform: translate(363px, 0px);
    -ms-transform: translate(363px, 0px);
    transform: translate(363px, 0px); }
.tile.tile-position-4-2 {
    -webkit-transform: translate(363px, 121px);
    -moz-transform: translate(363px, 121px);
    -ms-transform: translate(363px, 121px);
    transform: translate(363px, 121px); }
.tile.tile-position-4-3 {
    -webkit-transform: translate(363px, 242px);
    -moz-transform: translate(363px, 242px);
    -ms-transform: translate(363px, 242px);
    transform: translate(363px, 242px); }
.tile.tile-position-4-4 {
    -webkit-transform: translate(363px, 363px);
    -moz-transform: translate(363px, 363px);
    -ms-transform: translate(363px, 363px);
    transform: translate(363px, 363px); }

.tile {
    position: absolute;
    -webkit-transition: 100ms ease-in-out;
    -moz-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform; }
.tile .tile-inner {
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px; }
.tile.tile-2 .tile-inner {
    background: #eee4da;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
.tile.tile-4 .tile-inner {
    background: #ede0c8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
.tile.tile-8 .tile-inner {
    color: #f9f6f2;
    background: #f2b179; }
.tile.tile-16 .tile-inner {
    color: #f9f6f2;
    background: #f59563; }
.tile.tile-32 .tile-inner {
    color: #f9f6f2;
    background: #f67c5f; }
.tile.tile-64 .tile-inner {
    color: #f9f6f2;
    background: #f65e3b; }
.tile.tile-128 .tile-inner {
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px; }
@media screen and (max-width: 520px) {
    .tile.tile-128 .tile-inner {
        font-size: 25px; } }
.tile.tile-256 .tile-inner {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; }
@media screen and (max-width: 520px) {
    .tile.tile-256 .tile-inner {
        font-size: 25px; } }
.tile.tile-512 .tile-inner {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px; }
@media screen and (max-width: 520px) {
    .tile.tile-512 .tile-inner {
        font-size: 25px; } }
.tile.tile-1024 .tile-inner {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px; }
@media screen and (max-width: 520px) {
    .tile.tile-1024 .tile-inner {
        font-size: 15px; } }
.tile.tile-2048 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
@media screen and (max-width: 520px) {
    .tile.tile-2048 .tile-inner {
        font-size: 15px; } }
.tile.tile-super .tile-inner {
    color: #f9f6f2;
    background: #3c3a32;
    font-size: 30px; }
@media screen and (max-width: 520px) {
    .tile.tile-super .tile-inner {
        font-size: 10px; } }

@-webkit-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
@-moz-keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
@keyframes appear {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
.tile-new .tile-inner {
    -webkit-animation: appear 200ms ease 100ms;
    -moz-animation: appear 200ms ease 100ms;
    animation: appear 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }

@-webkit-keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }

    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
@-moz-keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }

    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
@keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0); }

    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
.tile-merged .tile-inner {
    z-index: 20;
    -webkit-animation: pop 200ms ease 100ms;
    -moz-animation: pop 200ms ease 100ms;
    animation: pop 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards; }

.above-game:after {
    content: "";
    display: block;
    clear: both; }

.game-intro {
    float: left;
    line-height: 42px;
    margin-bottom: 0; }

.restart-button {
    display: inline-block;
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
    float: right; }

.game-explanation {
    margin-top: 50px; }



/////////////////////////////
/////////////////////////////
/////////////////////////////
#blockrain {
    width:360px; height:720px; position: absolute; top: 0; left: 50%; transform: translateX(-50%);
    //&:before { content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; background: $body-bg-dark; }
}

.blockrain-game-holder {
    //position: relative;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    line-height: 140%;
}

/* Touch Controls */
.blockrain-touch {
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 100%;
    border: 1px solid white;
    background: rgba(255,255,255,0.2);
    z-index: 10;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    line-height: 50px;
    text-align: center;
}
.blockrain-touch:active {
    background: rgba(255,255,255,0.3);
}

.blockrain-touch-left {
    left: -60px;
    bottom: 10px;
}
.blockrain-touch-left::after {
    content: "<";
}
.blockrain-touch-right {
    right: -60px;
    bottom: 10px;
}
.blockrain-touch-right::after {
    content: ">";
}

.blockrain-touch-rotate-left {
    left: -60px;
    bottom: 80px;
}
.blockrain-touch-rotate-left::after {
    content: "<o";
}

.blockrain-touch-rotate-right {
    right: -60px;
    bottom: 80px;
}
.blockrain-touch-rotate-right::after {
    content: "o>";
}

.blockrain-touch-drop {
    left: 50%;
    margin-left: -25px;
    bottom: -60px;
}
.blockrain-touch-drop::after {
    content: ".";
}

/* Buttons */
.blockrain-btn {
    position: relative;
    display: inline-block;
    background: none;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    text-align: center;
    cursor: default;
}
.blockrain-btn::before {
    position: absolute;
    content: "";
    top: 100%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border: 2px solid #ffffff;
    border-top: none;
    border-right: none;
    transition: all 0.2s ease;
}
.blockrain-btn::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 100%;
    bottom: 0px;
    right: 0px;
    border: 2px solid #ffffff;
    border-left: none;
    border-bottom: none;
    transition: all 0.2s ease;
}

.blockrain-btn:hover::before {
    left: 5px;
    bottom: -8px;
    right: -8px;
}
.blockrain-btn:hover::after {
    top: 5px;
    bottom: -8px;
    right: -8px;
}


/* Score */
.blockrain-score-holder {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}
.blockrain-score-msg {
    font-size: 14px;
    line-height: 100%;
    margin-bottom: 0.2em;
}
.blockrain-score-num {
    font-size: 20px;
    font-weight: bold;
}

/* Menu */
.blockrain-start-holder, .blockrain-game-over-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0,0,0,0.8);
    text-align: center;
}
.blockrain-start, .blockrain-game-over {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.blockrain-start-msg, .blockrain-game-over-msg {
    font-size: 18px;
    margin-bottom: 30px;
}