/* scheherazade-regular - arabic_latin */
@font-face {
    font-family: 'Scheherazade';
    font-style: normal;
    font-weight: 400;
    src: url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Scheherazade'), local('Scheherazade-Regular'),
    url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-regular.svg#Scheherazade') format('svg'); /* Legacy iOS */
}

/* scheherazade-700 - arabic_latin */
@font-face {
    font-family: 'Scheherazade';
    font-style: normal;
    font-weight: bold;
    src: url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-700.eot'); /* IE9 Compat Modes */
    src: local('Scheherazade Bold'), local('Scheherazade-Bold'),
    url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-700.woff') format('woff'), /* Modern Browsers */
    url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../font/scheherazade/scheherazade-v17/scheherazade-v17-arabic_latin-700.svg#Scheherazade') format('svg'); /* Legacy iOS */
}

.font-qurani { font-family: 'Scheherazade', 'Quran', 'Uthmani', serif; }
.module.quran {
    height: 100%; background: rgba(0, 0, 0, 0.8); max-height: 100%; overflow: hidden; display: flex; flex-direction: column; padding: 40px;
    > header { color: #fff; }
    > div { margin-bottom: 30px; overflow: hidden; }
    ul {
        background: #fff; list-style: none; margin: 0; padding: 0;
        li {
            border: 0 none; height: 60px; border-bottom: 1px solid #ddd;
            margin: 0; padding: $grid-gutter-width / 2; padding-left: 50px;
            h3 {
                float: right; font-size: 1.75rem; margin-bottom: 0; line-height: 30px; font-weight: bold;
                span { font-family: $font-family-sans-serif; font-weight: normal; font-size: 1rem; color: #888; }
            }
            .meta { float: left; width: 320px; font-size: 0.85rem; color: #888; }
            p {
                margin-bottom: 0; line-height: 30px; float: right;
                span { font-weight: bold; }
                & + p { float: left; }
            }
        }
        .slick-current li, .slick-center li { border-right: 5px solid #2cb379; background: $gray-200; }
    }
}
#surah {
    transition: 0.3s all; opacity: 1; visibility: visible; font-size: 1.5rem;
    width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: #f7fce3; padding: 50px 50px 55px;
    &:empty { opacity: 0; visibility: hidden; }
    font-family: 'Scheherazade', 'Quran', 'Uthmani', serif;
    .surah-header {
        h2 { font-weight: bold; }
    }
    .surah-body {
        font-size: 2.5rem; line-height: 3.5rem; text-align: justify;
        span {
            display: inline-block; padding: 0 10px; font-family: $font-family-sans-serif; font-size: 1.25rem;
            &:before, &:after { font-family: 'Scheherazade', 'Quran', 'Uthmani', serif; font-size: 2rem;  }
            &:before { content: '﴿'; }
            &:after { content: '﴾'; }
        }
    }

    .bismillah {
        margin-top: 20px; font-size: 2.25rem; text-align: center;font-weight: bold; border-bottom: 1px solid #efefef; display: inline-block;
        position: relative; right: 50%; transform: translateX(50%); padding: 20px 40px; margin-bottom: 30px;
    }
    .edition {
        max-height: 100%; overflow: hidden; overflow-y: auto; visibility: hidden; opacity: 0; transition: 0.2s all; height: 0;
        &.active { opacity: 1; visibility: visible; height: auto; padding-bottom: 30px; }
    }
}