<section class="module quran">
    <header><h2>قرآن کریم</h2></header>
    <div>
        <ul id="surah-list">
            {{#each []}}
            <li data-id="{{id}}" class="">
                <h3 class="font-qurani"><span>{{id}}.</span>&nbsp;{{title}}</h3>
                <div class="meta">
                    <p>{{#ifCond type '==' 'Meccan'}}مکی{{else}}مدنی{{/ifCond}}</p>
                    <p>تعداد آیات: <span>{{verses}}</span></p>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div id="surah"></div>
</section>