<section class="module schedule">
    <header class="d-none"><h2>جدول پخش</h2></header>
    <div>
        <ul class="schedule-items">
            {{#each items}}
            <li data-href="{{url}}" class="{{#if current}}current active{{/if}}">
                <figure>
                    <img src="{{image}}" alt="{{name}}">
                </figure>
                <div class="desc">
                    <h3>
                        {{name}}
                        {{#if episode}}
                        <small class="episode">قسمت
                            {{episode}}
                            {{#if total_episode}} از
                            {{total_episode}}
                            {{/if}}
                        </small>
                        {{/if}}
                        <small class="time">{{time}}</small>
                    </h3>
                    <p class="summary">{{summary}}</p>
                    <p class="description">{{description}}</p>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>