<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//HbbTV//1.2.1//EN" "http://www.hbbtv.org/dtd/HbbTV-1.2.1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= htmlWebpackPlugin.options.languageCode %>" lang="<%= htmlWebpackPlugin.options.languageCode %>">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="Content-Type" content="Content-Type: application/vnd.hbbtv.xhtml+xml; charset=UTF-8"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="last-modified" content="<%= htmlWebpackPlugin.options.modified %>"/>
    <meta http-equiv="cache-control" content="no-cache, must-revalidate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css?_=<%= htmlWebpackPlugin.options.buildHash %>"/>
    <link href="assets/img/favicon.ico" rel="icon" type="image/x-icon"/>
    <script src="assets/js/vendor/bluebird-3.3.5.min.js"></script>
    <script>
//        var ua = window.navigator.userAgent;
//        var msie = ua.indexOf("MSIE ");
//        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
//            var script = document.createElement('script');
//            script.src = 'assets/js/static/bluebird.min.js';
//            document.head.appendChild(script);
////            document.write('<script src=cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js><\/scr' + 'ipt>');
//        }
        //        (function takeOverConsole() {
        //            var console = window.console;
        //
        //            function intercept(method) {
        //                var original = console[method];
        //                console[method] = function () {
        //                    var message = Array.prototype.slice.apply(arguments).join(' ');
        //                    original.call(console, arguments);
        //                    var xhr = new XMLHttpRequest();
        //                    // xhr.open('get', '/log.php?error=' + message);
        //                    xhr.open('get', '/log.php?error=' + JSON.stringify(arguments));
        //                    xhr.send();
        //                }
        //            }
        //
        //            // var methods = ['warn', 'error']
        //            var methods = ['error'];
        //            for (var i = 0; i < methods.length; i++)
        //                intercept(methods[i]);
        //        })();
    </script>
</head>

<body class="<%= htmlWebpackPlugin.options.direction %>" dir="<%= htmlWebpackPlugin.options.direction %>">
    <object id="appmgr" type="application/oipfApplicationManager" style="position: absolute; left: 0px; top: 0px; width: 0px; height: 0px;"></object>
    <object id="oipfcfg" type="application/oipfConfiguration" style="position: absolute; left: 0px; top: 0px; width: 0px; height: 0px;"></object>
    <div id="broadcast">
        <object id="broadcastvideo" type="video/broadcast" style="width: 100%; height: 100%; position: absolute; left: 0px; top: 0px;"></object>
    </div>
    <div id="app"></div>
</body>

</html>